@charset "UTF-8";


@import "configuration";


//____________________________
//フッター
//____________________________

.footer {
  text-align: center;
  padding: 2rem 0;
  // background: $white＿fcf;
  background: red;
  @media only screen and (max-width: 1100px){
    // margin-bottom: 5rem;
  }
  
  small {
    font-size: 2rem;
    font-weight: bold;
  }
}
